/* CSS for background and text */
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #F8F9F9;
    background-color:#566573
}

 /* CSS for container and its children columns  */
 .container {
    display: flex;
    justify-content: space-around;
  }

  .column {
    flex: 1;
    padding: 10px;
    justify-content: center
  }

/* main section */
.details-main {
    text-align: center;
    padding-top: 5px;
}
.title {
    text-align: center;
    text-justify: auto;
    position: relative;
    top: 50px;
}
.genre {
    text-align: center;

}

/* form title */
.showformtitle{
    padding: 20px;
}

/* CSS for show form */
.add-show-form {
    padding: 70px 0;
    text-align: center;
}

/* CSS for inner text of form boxes */
input[type=text] {
    width: 70%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #E5E7E9;
    color: black;
  }

/* CSS for form submit button */
input[type=submit] {
    width: 70%;
    padding: 8px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: orange;
    border-radius: 25px;
    color: white;
}

/* CSS for the detail-main section */
.img {
    padding: 70px 0;
    width: 300px;
    height: auto;
    text-align: center;
    display: inline-block;
}

/* CSS for the collection section */
.collection {
    padding: 80px 0;
    text-align: center;
    line-height: 2;
    display: center; 
    background-color: #7FB3D5;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 25px;
}

/* CSS for header and subtitle  */
h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    word-spacing: 2px;
    font-weight: 700;
    background-color: #7FB3D5;
    text-align: center;
    padding: 5px;
  }
.subtitle {
    background-color: #7FB3D5;
    text-align: center;
    padding: 10px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
}
/* drag and drop list */
/* .dragContainer {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
  } */
  
  .draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
    color: black;
  }
  
  .draggable.dragging {
    opacity: .5;
  }

  /* .heart{
    background-color:#566573;
    border: #566573;
  } */